 @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

$fontRoboto: 'Roboto', sans-serif;

body {
	font-size:14px;
	font-family: $fontRoboto;
}

.address-card {
  box-shadow: 0px 7px 19px rgba(197,197,197,0.31);
  position: relative;
	border: 1px solid #E6E6E6;
	&__info {
		height: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
	}
	&__divider {
		height: 1px;
		background-color: #E6E6E6;
		margin-left: 13px;
		margin-right: 28px;
	}
	&__header {}
	&__header-text {
		display: flex;
		justify-content: center;
	}
	&__item {
		margin: 4px 21px;
		&_edit {
			text-decoration: none;
		}
	}

	&__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
		&_home {
      width: 100px;
      height: 50px;
      background: url('house.svg') no-repeat;
    }
		&_add {
			position:absolute;
			margin-top: 13px;
			margin-left: 130px;
			width: 32px;
			height: 32px;
			background: url("path-398.png") no-repeat;
		}
		&_add2 {
			position:absolute;
			margin-top: 27px;
			margin-left: 117px;
			width: 32px;
			height: 32px;
			background: url("path-399.png") no-repeat;
		}
		&_door {
			position:absolute;
			width:15px;
			height:17px;
			margin-left:65px;
			margin-top:35px;
			background: url("path-307.png") no-repeat;
		}
	}
}
.address-info {
	max-width:670px;
	display:flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.header-word {
	color:#000;
	font-size:20px;
	margin-bottom:14px;
}

.add-new-address {
	width:184px;
	height:154px;
}
.existing-address {
	width:223px;
	height:154px;
	&__name {
		margin:11px 0px 7px 20px;
		font-weight:700;
		color:#000;
	}
}
.create-address {
	width:492px;
	&__divider {
		height: 1px;
		background-color: #E6E6E6;
		margin: 0 20px;
		margin-bottom:20px;
	}
	&__form-item {
		display: flex;
		margin: 11px 39px;
		justify-content: space-between;
	}
	&__button {
		float:right;
		margin-right:39px;
		margin-bottom:24px;
		margin-top:12px;
		text-align:center;
		background-color:#e24848;
		text-decoration:none;
		padding: 6px 12px;
		border-radius:3px;
		border:none;
		color:#fff;
	}
	&__icon_close {
		width:12px;
		height:12px;
		float: right;
		margin-right:12px;
		margin-top:9px;
	}
	&__icon_close1 {
		width:12px;
		height:12px;
		margin-top:1px;
		position:absolute;
		background: url("line-221.png") no-repeat;
	}
	&__icon_close2 {
		width:12px;
		height:12px;
		position:absolute;
		background: url("line-223.png") no-repeat;
	}
}
.delete-address {
	width:316px;
	height:225px;

	&__divider {
		height: 1px;
		background-color: #E6E6E6;
		margin-left: 0 14px;
	}
	&__button {
		margin:29px 0;
		margin-left: 28px;
		margin-top: 19px;
		width: 80px;
		height:27px;
		text-align:center;
		background-color:#e24848;
		text-decoration:none;
		padding: 6px 12px;
		border-radius:3px;
		border:none;
		color:#fff;
	}
	&__item {
		margin: 4px 28px;
	}
	&__icon_close {
		margin-right:10px;
		width:12px;
		height:12px;
		float: right;
		margin-right:12px;
		margin-top:9px;
	}
	&__icon_close1 {
		width:12px;
		height:12px;
		position:absolute;
		margin-top:1px;
		background: url("line-221.png") no-repeat;
	}
	&__icon_close2 {
		width:12px;
		height:12px;
		position:absolute;
		background: url("line-223.png") no-repeat;
	}
}
.address-edit {
	width:839px;
	margin-top:35px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	max-width:980px;
	&__header {
		display:flex;
		font-size:20px;
		font-weight:700;
		margin: 20px auto;
	}
	&__header-text {
		margin:auto;
	}
}

* {
	box-sizing: border-box;
}

.icon-close {
  position: absolute;
  top: 15px;
  right: 15px;
  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
    height: 10px;
    width: 1px;
    background-color: #000;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}
